:root {
  --colorLightGreen: #f2fcf2;
  --colorGreen: #d0dcd0;
  --colorDarkGreen: #a1aca1;
  --colorBlack: #0c1618;
  --colorOrange: #ff5f1f;
  --spacerSmall: .75rem; /* 12px */
  --spacerRegular: 1rem; /* 16px */
  --spacerBig: 1.88rem; /* 30px */
  --fontSmall: .75rem; /* 12px */
  --fontRegular: 1.13rem; /* 18px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 1.75rem; /* 28px */
  --font: 'Roboto', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
}
