@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: futura-pt, sans-serif;
  background-color: var(--colorGreen);
}

.header {
  background-color: var(--colorLightGreen);
}

.title {
  color: var(--colorOrange);
  font-size: 10rem;
  text-align: center;
}

.title-small {
  color: var(--colorOrange);
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

/* stylelint-disable */
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}
/* stylelint-enable */
