@import './css/reset.css';
@import './css/vars.css';

/* stylelint-disable */
@font-face {
  font-family: "Suisseregular";
  src: url("./assets/fonts/SuisseRegular") format("woff2");
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

/* General styling */

body {
  overflow-x: hidden;
  font-family: futura-pt, sans-serif;
  font-size: 22px;
  background-color: var(--colorLightGreen);
}

.underline {
  padding-bottom: 1rem;
  text-decoration: underline solid var(--colorBlack) 2px;
  text-underline-offset: 3px;
}

p {
  line-height: 2.2rem;
}

.section-title {
  color: var(--colorOrange);
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 500;
}

/* Slanted */

.slanted {
  font-family: Suisseregular, sans-serif;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 var(--spacerSmall);
  color: var(--colorOrange);
}

.title {
  margin-top: -5rem;
  font-size: 9rem;
}

.title-small {
  text-transform: uppercase;
  font-size: 2rem;
}

/* Introduction */

.introduction {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: var(--colorGreen);
  padding: 0 var(--spacerSmall);
  display: flex;
  align-items: center;
}

.introduction-shapes {
  width: 5rem;
  margin-bottom: -.2rem;
}

.introduction-text {
  margin: 5rem 0;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: var(--colorDarkGreen);
}

/* Characteristics */

.characteristics {
  padding: 5rem var(--spacerSmall);
}

.character_item {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.character-shapes {
  width: 3rem;
  margin-right: .5rem;
}

.character_item-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.character_item-description {
  margin-bottom: 2rem;
}

.character_item-image {
  max-width: 10rem;
  justify-self: center;
}

/* Paul Renner */

.paul_renner {
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: var(--colorBlack);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  color: white;
  padding: var(--spacerSmall);
  padding-top: 0;
}

.paul_renner-wrap {
  display: flex;
}

.paul_renner-intro {
  width: 100vw;
}

.paul_renner-title {
  margin-top: 3rem;
  width: 100vw;
}

.paul_renner-desc {
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.paul_story {
  display: flex;
}

.paul_story-text {
  margin: 4rem 5rem;
  width: 22rem;
  font-size: 18px;
  line-height: 1.8rem;
}

.paul_story-image-photo {
  width: 20rem;
}

.paul_story-image-text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .8px;
  text-align: right;
}

.paul_story-shapes {
  width: 2.5rem;
  margin-right: .5rem;
}

/* Used today */

.used-today {
  min-height: 100vh;
  background-color: var(--colorDarkGreen);
}

@media only screen and (min-width: 768px) {

  /* General */

  .mobile-br {
    display: none;
  }

  .section-title {
    font-size: 3.5rem;
  }

  /* Slanted */

  .slanted {
    font-size: 28px;
    top: 1rem;
    left: 2rem;
  }

  /* Header */

  .header {
    padding: 0 var(--spacerBig);
  }

  .title {
    font-size: 18rem;
  }

  .title-small {
    font-size: 2.5rem;
  }

  /* Introduction */

  .introduction {
    padding: 0 var(--spacerBig);
    justify-content: flex-end;
  }

  .introduction-shapes {
    width: 8rem;
  }

  .introduction-text {
    font-size: 2.5rem;
    line-height: 4rem;
    max-width: 80rem;
  }

  /* Characteristics */

  .characteristics {
    padding: 5rem var(--spacerBig);
  }

  .character_item {
    margin: 10rem auto;
    max-width: 75rem;
    grid-template-columns: 1fr 1fr;
  }

  .character_item-image {
    max-width: 12rem;
    justify-self: center;
  }
}

@media only screen and (min-width: 1024px) {

  /* General */

  .section-title {
    font-size: 5rem;
  }

  /* Slanted */

  .slanted {
    position: fixed;
  }

  /* Header */

  .header {
    padding: 0 3rem;
  }

  .title {
    font-size: 22rem;
  }

  .title-small {
    font-size: 3rem;
  }

  /* Introduction */

  .introduction {
    padding: 0 3rem;
  }

  .introduction-text {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  /* Characteristics */

  .characteristics {
    padding: 5rem 3rem;
  }

  .character_item-image {
    max-width: 15rem;
  }

  /* Paul Renner */

  .paul_renner-title {
    margin: 8rem;
  }

  .paul_story-text {
    margin: 8rem 15rem;
    width: 40rem;
  }

  .paul_story-image-photo {
    width: 40rem;
  }
}
